@use "../../styles/main.sass";

.container {
    top: 0;
    z-index: 10;
    position: absolute;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: main.$header-size;
    background: main.$m3;
    transition: .4s;
}

.shadow {
    -webkit-box-shadow: 0px 3px 38px -3px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 3px 38px -3px rgba(66, 68, 90, 1);
    box-shadow: 0px 3px 38px -3px rgba(66, 68, 90, 1);
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    padding: main.$header-size/3;
    margin: auto;
}

.logo {
    align-items: center;
    display: flex;
    width: 20%;
    font-size: 1.5rem;
    color: main.$m0;
    margin-left: 20px;
}

.logo > span {
    color: main.$m2;
}

.menu {
    display: flex;
    color: main.$m0;
}

.toggling {
    display: none;
}

.ul {
    display: flex;
}

.ul > li {
    width: 5rem;
    min-width: 65px;
    list-style-type: none;
}

.img {
    scale: 0.65;
    display: none;
    width: 50px;
    height: auto;
    border-radius: 50%;
    padding: 10px;
    display: none;
    cursor: pointer;
    transition: 0.1s;
}

.picture {
    scale: 0.8;
}

.box {
    display: none;
}

@keyframes slide-in {
    to {
        transform: translate(0,200px);
        z-index: -1;
    }
}

@media (max-width: main.$t) {
    .navbar {
        width: 100%;
    }
}

@media (max-width: main.$m) {
    .menu {
        display: none;
    }
    .img {
        display: flex;
    }
    .box {
        display: flex;
        position: absolute;
        visibility: visible;
        z-index: 0;
        background: main.$m1;
        justify-content: center;
        width: 100vw;
        transition: 1s;
        transform: translate(0,-200px);
    }
    .active {
        visibility: visible;
        opacity: 1;
        margin-top: -20px;
        transform: translate(0,0);
    }
    .pushed {
        background: main.$m2;
    }
    .ul {
        color: main.$m0;
        display: block;
    }
    .ul > li {
        padding: 10px;
    }
}
