
@use '../../styles/main.sass';

$box-height: auto;

.form {
    display: block;
    text-align: center;
    width: 95%;
    height: $box-height;
    padding: 20px;
    background: main.$m5;
    border-radius: 15px;
    margin: 0 auto auto auto;
}

.form > form {
    display: inline-block;
    text-align: left;
    width: 50%;
}

.form > form > label{
    display: flex;
    max-width: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.form > form > input{
    display: flex;
    width: 100%;
    border-radius: 15px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

}

.form > form > button{
    display: block;
    padding: 5px;
    margin-top: 10px;
    width:100%;
    max-width: 500px;
    border-radius: 15px;
    border: 1px solid main.$m0;
    background: main.$m6;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}