@use '../../styles/main.sass';

.container {
    margin-top: main.$header-size + 1;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: main.$m) {
    .container {
        width: 90vw;
    }
}